In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('/Users/rachit/Desktop/Fall 2023/CSE 6242 DVA/PROJECT TIDAL/coordinates_with_Location.csv')
df.head()

,Station,Coordinates,Location
0,EB31,"{0: '27.000N', 1: '86.000W'}",NaN
1,MEYC1,"{0: '36.605N', 1: '121.889W'}","Municipal Wharf Number 2, Municipal Wharf 2, N..."
2,EGKF1,"{0: '27.601N', 1: '82.759W'}","Original Brick Road 1898, Fort De Soto, Pinell..."
3,46255,"{0: '33.400N', 1: '119.651W'}","Ventura County, California, United States"
4,EMAT2,"{0: '28.710N', 1: '95.914W'}","South Gulf Road, Gulf, Matagorda, Matagorda Co..."

In [5]:
# Function to extract country from the location string
def extract_country(location):
    if pd.isna(location):
        return None
    parts = location.split(',')
    # Assuming the country is the last part
    return parts[-1].strip()

# Apply the function to the 'Location' column
df['Country'] = df['Location'].apply(extract_country)

# Display the updated dataframe
df[['Location', 'Country']].head()

                                            Location        Country
0                                                NaN           None
1  Municipal Wharf Number 2, Municipal Wharf 2, N...  United States
2  Original Brick Road 1898, Fort De Soto, Pinell...  United States
3          Ventura County, California, United States  United States
4  South Gulf Road, Gulf, Matagorda, Matagorda Co...  United States

In [10]:
df['Country'] = df['Country'].replace('The Bahamas', 'Bahamas')
print(df['Country'].unique())

[None 'United States' 'Ṃajeḷ' 'México' 'Bahamas' 'Colombia'
 'Trinidad and Tobago' 'Canada' 'Antigua and Barbuda' 'Bermuda'
 'República Dominicana' 'C Tower' 'BULLWINKLE' 'Cayman Islands'
 'Micronesia' 'Belau']

In [11]:
df.isna().sum()

Station          0
Coordinates      0
Location       319
Country        319
dtype: int64

In [22]:
df.to_csv('/Users/rachit/Desktop/Fall 2023/CSE 6242 DVA/PROJECT TIDAL/coordinates_with_Location.csv', index=False)

In [29]:
pip install geopy

Requirement already satisfied: geopy in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.4.1)
Requirement already satisfied: geographiclib<3,>=1.52 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from geopy) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [32]:
import pandas as pd
from geopy.geocoders import Nominatim
import numpy as np

buoy_data = pd.read_excel('/Users/rachit/Desktop/Fall 2023/CSE 6242 DVA/PROJECT TIDAL/ExportAvgEnergy.xlxs.xls')

In [33]:
geolocator = Nominatim(user_agent="geoapiExercises")

def get_country(lat, lon):
    try:
        location = geolocator.reverse((lat, lon), language='en')
        country = location.raw['address']['country']
        return country
    except:
        return np.nan

# Apply the get_country function to each row
buoy_data['Country'] = buoy_data.apply(lambda row: get_country(row['Latitude'], row['Longitude']), axis=1)

In [36]:
buoy_data.to_csv('revisedAvgPower.xlsx', index=False)

In [37]:
buoy_data.head()

,Avg Power By Year,Coord,Station Id,Year,Avg Power,Latitude,Longitude,Country
0,48538.536317,"{0: '22.162N', 1: '38.500E'}",23020,2008-01-01,33054.123522,22.162,38.5,NaN
1,32840.285668,"{0: '22.162N', 1: '38.500E'}",23020,2009-01-01,38612.544919,22.162,38.5,NaN
2,34950.344952,"{0: '22.162N', 1: '38.500E'}",23020,2010-01-01,34413.988622,22.162,38.5,NaN
3,131805.856347,"{0: '9.900S', 1: '105.200W'}",32301,1984-01-01,289635.213012,-9.900,-105.2,NaN
4,95820.001639,"{0: '18.000S', 1: '85.100W'}",32302,1993-01-01,340131.550126,-18.000,-85.1,NaN

In [38]:
from geopy.geocoders import Nominatim
import pandas as pd
import numpy as np

# Initialize the geolocator
geolocator = Nominatim(user_agent="geoapiExercises")

def get_country_or_ocean(lat, lon):
    try:
        location = geolocator.reverse((lat, lon), language='en')
        if 'country' in location.raw['address']:
            return location.raw['address']['country']
        elif 'sea' in location.raw['address']:
            return location.raw['address']['sea']
        else:
            return 'Ocean'
    except:
        return np.nan

In [39]:
buoy_data['Country_or_Ocean'] = buoy_data.apply(lambda row: get_country_or_ocean(row['Latitude'], row['Longitude']), axis=1)
buoy_data.head()

,Avg Power By Year,Coord,Station Id,Year,Avg Power,Latitude,Longitude,Country,Country_or_Ocean
0,48538.536317,"{0: '22.162N', 1: '38.500E'}",23020,2008-01-01,33054.123522,22.162,38.5,NaN,NaN
1,32840.285668,"{0: '22.162N', 1: '38.500E'}",23020,2009-01-01,38612.544919,22.162,38.5,NaN,NaN
2,34950.344952,"{0: '22.162N', 1: '38.500E'}",23020,2010-01-01,34413.988622,22.162,38.5,NaN,NaN
3,131805.856347,"{0: '9.900S', 1: '105.200W'}",32301,1984-01-01,289635.213012,-9.900,-105.2,NaN,NaN
4,95820.001639,"{0: '18.000S', 1: '85.100W'}",32302,1993-01-01,340131.550126,-18.000,-85.1,NaN,NaN

In [40]:
buoy_data['Country_or_Ocean'].unique()

array([nan])